<%= stylesheet_link_tag "jquery.seat-charts" %>
<%= stylesheet_link_tag "style" %>

<h2><%= t('menu.seat.assign') %></h2>
<%= link_to 'Back', admin_index_path %>

<%= form_with(model: @map, local: true) do |form| %>
<table>
  <tr>
    <td>Project</td>
    <td><%= form.select "cmbbxProjects", Project.all.collect { |p| [ p.name, p.id.to_s + "|" + p.tag ] } %></td>
  </tr>
  <tr>
    <td>Map</td>
    <td>
      <%= form.select "cmbbxMaps", Map.where(project_id: Project.first(1)).collect { |m| [ m.name, m.seats + "|" + m.height.to_s + "|" + m.width.to_s + "|" + m.seats_total.to_s + "|" + m.id.to_s] } %>
    </td>
  </tr>
</table>

<%= form.hidden_field "hddnProjectTag"%>
<%= form.hidden_field :project_id, id:"hddnProjectId"%>
<%= form.hidden_field :map_id, id:"hddnMapId"%>
<input type="hidden" id="hddnSelectedSeat">

<div id="seatModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Asignar Empleado</h4>
      </div>
      <div class="modal-body">
        <table>
          <tr>
            <td>
              <label for="cmbbxEmployees">Elegir Empleado</label>
            </td>
            <td>
              <select id="cmbbxEmployees"></select>
            </td>
          </tr>
          <tr>
            <td>
              <label for="txtfldNombreEmpleado">Nombre</label>
            </td>
            <td><input type="text" id="txtfldNombreEmpleado" disabled="disabled"></td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="bttnAcceptModal">Aceptar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<button type="button" style="display: none;" data-toggle="modal" data-target="#seatModal" id="bttnShowModal">EMTY</button>

<div id="wrapper">
  <div id="seat-map"></div>
</div>
<% end %>

<style>
div.seatCharts-seat.focused {
  background-color: #E6CAC4 !important;
}
</style>

<script type="text/javascript">
// jQUery calls
$(document).ready(function () {
  var project_tag = splitValue($('#cmbbxProjects'), 1);
  var project_id = splitValue($('#cmbbxProjects'), 0);
  var map_id = splitValue($('#cmbbxMaps'), 4);
  $('#hddnProjectTag').val(project_tag);
  $('#hddnProjectId').val(project_id);
  $('#hddnMapId').val(map_id);
  $("#txtflNumber").keydown(function (e) {
    textFieldOnlyNumbers(e);
  });
  loadMap();
});

$('#cmbbxMaps').change(function () {
  $('#hddnMapId').val(splitValue($(this), 4));
  loadMap();
});

$('#cmbbxProjects').change(function () {
  var project_id = splitValue($(this), 0);
  var map_id = splitValue($('#cmbbxMaps'), 4);
  $('#hddnProjectTag').val(splitValue($(this), 1));
  $('#hddnProjectId').val(project_id);
  $('#hddnMapId').val(map_id);
  $.ajax({
    url: "/maps/show",
    method: "GET",
    dataType: "json",
    data: {
      project_id: project_id
    },
    error: function (xhr, status, error) {
      console.error('AJAX Esrror: ' + status + error);
    },
    success: function (response) {
      var maps = response["maps"];
      $('#cmbbxMaps').find('option').remove().end();
      for (var i = 0; i < maps.length; i++) {
        $('#cmbbxMaps').append('<option value="' + maps[i]["seats"] + "|" + maps[i]["height"] + "|" + maps[i]["width"] + "|" + maps[i]["seats_total"] + '">' + maps[i]["name"] + '</option>');
      }
      loadMap();
    }
  });
});

//JS functions and variables
var total = 0;

function getRawMap(number, y, x) {
  var number_arr = number.split(",");
  var map = [y]
    var i,
      j;
    var row = "";
    var cell;
    for (i = 0; i < y; i++) {
      for (j = 0; j < x; j++) {
        cell = i + "_" + j;
        row += number_arr.indexOf(cell) == -1
          ? "_"
          : "f";
      }
      map[i] = row;
      row = "";
    }
    return map;
  }

  var firstSeatLabel = 1;

  function loadMap() {
    firstSeatLabel = 1;
    $('#wrapper').html('<div id="seat-map"></div>');
    var $map = $('#cmbbxMaps');
    var values = $map.val().split("|");
    var rawMap = getRawMap(values[0], parseInt(values[1], 10), parseInt(values[2], 10));
    var sc = $('#seat-map').seatCharts({
      showLabel: false,
      map: rawMap,
      seats: {
        f: {
          classes: 'first-class'
        }
      },
      naming: {
        top: false,
        getLabel: function (character, row, column) {
          return firstSeatLabel++;
        }
      },
      click: function () {
        var tag = $('#hddnProjectTag').val();
        $('#txtfldTag').val(tag);
        $('#hddnSelectedSeat').val(this.settings.id);
        var number = $('#' + this.settings.id).html().replace(tag, '');
        $('#txtflNumber').val(number);
        $('#bttnShowModal').trigger("click");
        return this.style();
      },
      focus: function () {
        return this.style();
      }
    });

    var project_id = $('#hddnProjectId').val();
    var map_id = $('#hddnMapId').val();
    var seats;
    $.when($.ajax({
      url: "/seats/new",
      method: "GET",
      dataType: "json",
      data: {
        actionToDo: 'map',
        project_id: project_id,
        map_id: map_id
      },
      error: function (xhr, status, error) {
        console.error('AJAX Error: ' + status + error);
      },
      success: function (response) {
        seats = response["seat"];
      }
    })).then(function () {

      for (var i = 0; i < seats.length; i++) {
        var html_id = seats[i]["html_id"];
        var code = seats[i]["code"];
        var fijo = false;
        var html_id_jq = '#' + html_id;
        $(html_id_jq).html(code).css("width", "50px").css("color", "black").css("font-weight", "bolder").removeClass('available');
        $(html_id_jq).addClass(
          fijo
            ? 'unavailable'
            : 'available'
        );
        //TODO FIXED
      }

    });
  }

  $('#bttnShowModal').click(function () {
    var project_id = $('#hddnProjectId').val();
    var id_map = $('#hddnMapId').val();

    $.ajax({
      url: "/assignseats",
      method: "GET",
      dataType: "json",
      data: {
        project_id: project_id,
        id_map: id_map
      },
      error: function (xhr, status, error) {
        console.error('AJAX Error: ' + status + error);
      },
      success: function (response) {
        console.log(response);
        var emp = response["employess"];
        $('#cmbbxEmployees').find('option').remove().end();
        for (var i = 0; i < emp.length; i++) {
          $('#cmbbxEmployees').append('<option value="' + emp[i]["id"] + "|" + emp[i]["name"] + '">' + emp[i]["number"] + '</option>');
        }
        $('#txtfldNombreEmpleado').val(emp[0]["name"]);
      }
    });

  });

  $('#bttnAcceptModal').click(function () {

    var employee_id = splitValue($('#cmbbxEmployees'),0);
    var project_id = $('#hddnProjectId').val();


    $('#seatModal').modal('toggle');
  });
</script>
