<% content_for :head do %>
  <%= stylesheet_link_tag "lib/jquery.seat-charts", "map" %>
  <%= javascript_include_tag 'lib/jquery.seat-charts.min' %>
<% end %>

<h2><%= t('menu.seat.check') %></h2>
<%= link_to t('back'), admin_index_path %>

<%= form_with(model: @map, local: true) do |form| %>
<table>
  <tr>
    <td><%= t('project') %></td>
    <td><%= form.select "cmbbxProjects", Project.all.collect { |p| [ p.name, p.id.to_s + "|" + p.tag ] } %></td>
  </tr>
  <tr>
    <td><%= t('map') %></td>
    <td>
      <%= form.select "cmbbxMaps", Map.where(project_id: Project.first(1)).collect { |m| [ m.name, m.seats + "|" + m.height.to_s + "|" + m.width.to_s + "|" + m.seats_total.to_s + "|" + m.id.to_s] } %>
    </td>
  </tr>
</table>

<%= form.hidden_field "hddnProjectTag"%>
<%= form.hidden_field :project_id, id:"hddnProjectId"%>
<%= form.hidden_field :map_id, id:"hddnMapId"%>
<input type="hidden" id="hddnSelectedSeat">

<div id="seatModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t('seats.create') %></h4>
      </div>
      <div class="modal-body">
        <table>
          <tr>
            <th><%= t('projects.acronym') %></th>
            <th><%= t('seats.number') %></th>
          </tr>
          <tr>
            <td><input type="text" id="txtfldTag" disabled="disabled"></td>
            <td><input type="text" id="txtflNumber"></td>
            <td>
              <label for="chckbxFixed"><%= t('seats.fixed') %></label><input type="checkbox" id="chckbxFixed" title="<%= t('seats.fixed') %>"></td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="bttnAcceptModal"><%= t('accept') %></button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('cancel') %></button>
      </div>
    </div>
  </div>
</div>

<button type="button" style="display: none;" data-toggle="modal" data-target="#seatModal" id="bttnShowModal">EMTY</button>

<div id="map-container">
  <div id="seat-map"></div>
</div>
<% end %>

<style>
div.seatCharts-seat.focused {
  background-color: #E6CAC4 !important;
}
</style>

<script type="text/javascript">
// jQUery calls
$(document).ready(function () {
  var project_tag = splitValue($('#cmbbxProjects'), 1);
  var project_id = splitValue($('#cmbbxProjects'), 0);
  var map_id = splitValue($('#cmbbxMaps'), 4);
  $('#hddnProjectTag').val(project_tag);
  $('#hddnProjectId').val(project_id);
  $('#hddnMapId').val(map_id);
  $("#txtflNumber").keydown(function (e) {
    textFieldOnlyNumbers(e);
  });
  loadMap();
});

$('#cmbbxMaps').change(function () {
  $('#hddnMapId').val(splitValue($(this), 4));
  loadMap();
});

$('#cmbbxProjects').change(function () {
  var project_id = splitValue($(this), 0);
  $('#hddnProjectTag').val(splitValue($(this), 1));
  $('#hddnProjectId').val(project_id);
  $.ajax({
    url: "/maps/show",
    method: "GET",
    dataType: "json",
    data: {
      project_id: project_id
    },
    error: function (xhr, status, error) {
      console.error('AJAX Esrror: ' + status + error);
    },
    success: function (response) {
      var maps = response["maps"];
      $('#cmbbxMaps').find('option').remove().end();
      for (var i = 0; i < maps.length; i++) {
        $('#cmbbxMaps').append('<option value="' + maps[i]["seats"] + "|" + maps[i]["height"] + "|" + maps[i]["width"] + "|" + maps[i]["seats_total"] + "|" + maps[i]["id"] + '">' + maps[i]["name"] + '</option>');
      }
      if(maps.length > 0 ) {
        $('#hddnMapId').val(maps[0]["id"]);
      }
      loadMap();
    }
  });
});

//JS functions and variables
var total = 0;

  var firstSeatLabel = 1;
  var array_fixed = new Array();

  function loadMap() {
    firstSeatLabel = 1;
    $('#map-container').html('<div id="seat-map"></div>');
    var $map = $('#cmbbxMaps');
    if($map.val() != null) {
      var values = $map.val().split("|");
      var rawMap = App26.map.getRawMap(values[0], parseInt(values[1], 10), parseInt(values[2], 10));
      var sc = $('#seat-map').seatCharts({
        showLabel: false,
        map: rawMap,
        seats: {
          f: {
            classes: 'first-class'
          }
        },
        naming: {
          top: false,
          getLabel: function (character, row, column) {
            return firstSeatLabel++;
          }
        },
        click: function () {
          var tag = $('#hddnProjectTag').val();
          $('#txtfldTag').val(tag);
          $('#hddnSelectedSeat').val(this.settings.id);
          var number = $('#' + this.settings.id).html().replace(tag, '');
          $('#txtflNumber').val(number);
          $('#bttnShowModal').trigger("click");
          return this.style();
        },
        focus: function () {
          return this.style();
        }
      });

      var project_id = $('#hddnProjectId').val();
      var map_id = $('#hddnMapId').val();
      var seats;
      $.when($.ajax({
        url: "/seats/new",
        method: "GET",
        dataType: "json",
        data: {
          actionToDo: 'map',
          project_id: project_id,
          map_id: map_id
        },
        error: function (xhr, status, error) {
          console.error('AJAX Error: ' + status + error);
        },
        success: function (response) {
          seats = response["seat"];
        }
      })).then(function () {

        for (var i = 0; i < seats.length; i++) {
          var html_id = seats[i]["html_id"];
          var code = seats[i]["code"];
          var fijo = seats[i]["fixed"];;
          var html_id_jq = '#' + html_id;
          $(html_id_jq).html(code).removeClass('available');
          $(html_id_jq).addClass(
            fijo
              ? 'unavailable'
              : 'available'
          );
          if (fijo) {
            array_fixed.push(html_id);
          }

          $(html_id_jq).click(function () {
            var fixjo = array_fixed.includes(this.id);
            console.log(fixjo);
            $('#chckbxFixed').prop('checked', fixjo);
          });
        }

      });
    }
  }

  $('#seatModal').on('shown.bs.modal', function() {
    $('#txtflNumber').focus();
  })

  $('#bttnAcceptModal').click(function () {
    var number = $('#txtflNumber').val();
    if (number === '') {
      alert("The value of the seat can not be empty")
      return;
    }

    var fijo = $('#chckbxFixed').prop('checked');
    var html_id = $('#hddnSelectedSeat').val();
    var tag = $('#txtfldTag').val();
    var code = number;
    var project_id = $('#hddnProjectId').val();
    var map_id = $('#hddnMapId').val();

    var actionToDo = 'search';
    var seat;
    $.when($.ajax({
      url: "/seats/new",
      method: "GET",
      dataType: "json",
      data: {
        actionToDo: actionToDo,
        project_id: project_id,
        map_id: map_id,
        html_id: html_id,
        code: code,
        fixed: fijo
      },
      error: function (xhr, status, error) {
        console.error('AJAX Error: ' + status + error);
      },
      success: function (response) {
        seat = response["seat"];
      }
    })).then(function () {
      console.log(seat);

      if (typeof seat == "string") {
        alert(seat);
        return;
      }

      var html_id_jq = '#' + html_id;
      $(html_id_jq).html(code).removeClass('available');
      $(html_id_jq).addClass(
        fijo
          ? 'unavailable'
          : 'available'
      );

      actionToDo = seat == null
        ? 'insert'
        : 'update';

      var id = seat == null
        ? -1
        : seat["id"];

      console.log(actionToDo);
      $.ajax({
        url: "/seats/new",
        method: "GET",
        dataType: "json",
        data: {
          actionToDo: actionToDo,
          project_id: project_id,
          map_id: map_id,
          html_id: html_id,
          code: code,
          id: id,
          fixed: fijo
        },
        error: function (xhr, status, error) {
          console.error('AJAX Error: ' + status + error);
        },
        success: function (response) {
          console.log(response);
        }
      });
    });

    $('#txtflNumber').val("");
    $('#seatModal').modal('toggle');
  });


  function randomMark() {
    var tag = splitValue($('#cmbbxProjects'), 1);
    var project_id = splitValue($('#cmbbxProjects'), 0);
    var map_id = splitValue($('#cmbbxMaps'), 4);
    var fijo = false;

    var $map = $('#cmbbxMaps');
    var values = $map.val().split("|");
    var map_data = values[0];
    var x = parseInt(values[2], 10);
    var y = parseInt(values[1], 10);

    //Variable to assign like tag to the seat
    var number = 1;
    var number_arr = map_data.split(",");
    number_arr.sort();
    number_arr.forEach(function(html_id) {
      var zeros = "";
      if((number + "").length == 1 ) {
        zeros = "00";
      } else if((number + "").length == 2 ) {
        zeros = "0";
      }
      var code = zeros + number;

      var actionToDo = 'search';
      var seat;
      $.when($.ajax({
        url: "/seats/new",
        method: "GET",
        dataType: "json",
        data: {
          actionToDo: actionToDo,
          project_id: project_id,
          map_id: map_id,
          html_id: html_id,
          code: code,
          fixed: fijo
        },
        error: function (xhr, status, error) {
          console.error('AJAX Error: ' + status + error);
        },
        success: function (response) {
          seat = response["seat"];
        }
      })).then(function () {
        console.log(seat);

        if (typeof seat == "string") {
          alert(seat);
          return;
        }

        var html_id_jq = '#' + html_id;
        $(html_id_jq).html(code).removeClass('available');
        $(html_id_jq).addClass(
          fijo
            ? 'unavailable'
            : 'available'
        );

        actionToDo = seat == null
          ? 'insert'
          : 'update';

        var id = seat == null
          ? -1
          : seat["id"];

        console.log(actionToDo);
        $.ajax({
          url: "/seats/new",
          method: "GET",
          dataType: "json",
          data: {
            actionToDo: actionToDo,
            project_id: project_id,
            map_id: map_id,
            html_id: html_id,
            code: code,
            id: id,
            fixed: fijo
          },
          error: function (xhr, status, error) {
            console.error('AJAX Error: ' + status + error);
          },
          success: function (response) {
            console.log(response);
          }
        });
      });
      number++;
    });
  }
</script>
