<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @seat.id %>
</p>

<p>
  <strong>Code:</strong>
  <%= @seat.code %>
</p>

<p>
  <strong>Status:</strong>
  <%= @seat.status %>
</p>

<p>
  <strong>Assignment date:</strong>
  <%= @seat.assignment_date %>
</p>

<p>
  <strong>Project:</strong>
  <%= @seat.project %>
</p>

<%= link_to 'Edit', edit_seat_path(@seat) %> |
<%= link_to 'Back', seats_path %>
