<h1><%= t 'login' %></h1>

<%= form_tag sessions_path do |form| %>
  <div class="field">
    <%=  t 'employee.number' %>
    <%= text_field_tag :number  %>
  </div>

  <div class="actions">
    <%= submit_tag t 'login' %>
  </div>
<% end %>
