<p id="alert"><%= alert %></p>

<h1>Login</h1>

<%= form_tag sessions_path do |form| %>
  <div class="field">
    <%= label_tag :employee_number, 'Id Empleado' %>
    <%= text_field_tag :employee_number  %>
  </div>

  <div class="field">
    <%= label_tag :password, 'Fecha Ingreso (yyyymmddd)' %>
    <%= password_field_tag :password %>
  </div>

  <div class="actions">
    <%= submit_tag "Login" %>
  </div>
<% end %>