<p>
  <%= t 'confirmation.title' %>
</p>

<p>
  <b><%= t 'employee.name' %>:</b>
  <%= @employee.name %>
</p>

<p>
  <b><%= t 'employee.number' %>:</b>
  <%= @employee.number %>
</p>

<p>
  <b><%= t 'employee.date' %>:</b>
  <%= @employee.admission_date %>
</p>

<p>
  <b><%= t 'employee.birthdate' %>:</b>
  <%= @employee.birthdate %>
</p>

<%= link_to t('confirmation.continue'), edit_session_path(@employee.id) %> |
<%= link_to t('confirmation.cancel'), logout_path %>
