<h2><%= t('menu.employee.title') %></h2>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th class="col-md-2"><%= t 'employee.name' %></th>
      <th class="col-md-2"><%= t 'employee.number' %></th>
      <th class="col-md-2"><%= t 'employee.date' %></th>
      <th class="col-md-2"><%= t 'employee.birth_date' %></th>
      <th class="col-md-2"><%= t 'status' %></th>
      <th class="col-md-2"><%= t 'employee.assignment_type' %></th>
      <th class="col-md-2"><%= t 'project' %></th>
      <th class="col-md-4"><%= t 'options' %></th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td class="col-md-2"><%= employee.name %></td>
        <td class="col-md-2"><%= employee.number %></td>
        <td class="col-md-2"><%= employee.admission_date.strftime("%B %d, %Y %A") %></td>
        <td class="col-md-2"><%= employee.birth_date.strftime("%B %d, %Y %A") %></td>
        <td class="col-md-2"><%= employee.get_status %></td>
        <td class="col-md-2"><%= employee.get_assignment_type %></td>
        <td class="col-md-2"><%= employee.project.name %></td>
        <td class="col-md-4">
          <%= link_to t('show'), employee_path(employee), class: "btn btn-info" %>
          <%= link_to t('edit'), edit_employee_path(employee), class: "btn  btn-warning" %>
          <%= link_to t('destroy'), employee_path(employee), method: :delete, data: { confirm: t('employee.sure') }, class: "btn btn-danger" %>
        </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('menu.employee.new'), new_employee_path %>
