<h2>Load Employee</h2>

<%= form_tag(save_loademployees_path, :method => "post", :id => "loademployees_form", multipart: true) do %>

  <div class="row">
    <div class="form-group col-md-4">
       <%= label_tag :employees_file %>
       <%= file_field_tag :employees_file %>
       <small class="text-muted"><%= t 'file_help' %></small>
   </div>
  </div>
  <div class="actions">
    <%= submit_tag "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
