<p>
  <strong>Id:</strong>
  <%= @employee.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @employee.number %>
</p>

<p>
  <strong>Join date:</strong>
  <%= @employee.admission_date.strftime("%B %d, %Y %A") %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @employee.birth_date.strftime("%B %d, %Y %A") %>
</p>

<p>
  <strong>Status:</strong>
  <%= @employee.get_status %>
</p>

<p>
  <strong>Assignment type:</strong>
  <%= @employee.get_assignment_type %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
