<h2><%= t('menu.employee.title') %></h2>

<p>
  <strong><%= t 'employee.name' %>:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong><%= t 'employee.number' %>:</strong>
  <%= @employee.number %>
</p>

<p>
  <strong><%= t 'employee.date' %>:</strong>
  <%= @employee.admission_date.strftime("%B %d, %Y %A") %>
</p>

<p>
  <strong><%= t 'employee.birth_date' %>:</strong>
  <%= @employee.birth_date.strftime("%B %d, %Y %A") %>
</p>

<p>
  <strong><%= t 'status' %>:</strong>
  <%= @employee.get_status %>
</p>

<p>
  <strong><%= t 'employee.assignment_type' %>:</strong>
  <%= @employee.get_assignment_type %>
</p>

<p>
  <strong><%= t 'project' %>:</strong>
  <%= @employee.project.name %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
