<% content_for :title do %>
  <%= t 'title' %>
<% end %>
<% content_for :head do %>
  <%= stylesheet_link_tag "jquery.seat-charts", "style" %>
  <%= javascript_include_tag 'jquery.seat-charts.min' %>
  <%= javascript_include_tag 'jquery.elevateZoom-3.0.8.min' %>
<% end %>
<h2><%= t 'assignment.title' %></h2>
<br/>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#map_modal">
  <%= t 'assignment.see_map' %>
</button>
<br/>

<%= form_tag(assignments_path, :method => "post", :id => "assignment_form") do %>
  <%= hidden_field_tag 'seat_id'%>
  <% if @mobile %>
    <% if !@map.nil? %>
      <%= hidden_field_tag 'project_employee', @project_employee.id %>
      <div id="seat_map" style="float: none;" data-map="<%= @map.to_json %>"
            data-available_seats="<%= @available_seats.to_json %>"
            data-unavailable_seats="<%= @unavailable_seats.to_json %>"
            data-selected_seat="<%= @seat.to_json %>">
      </div>
      <br/>
      <% if @assigned %>
        <%= hidden_field_tag 'assignment_id', @assignment.id %>
        <span><%= t 'assignment.assigned_seat', {:seat => @assignment.seat.code} %></span>
        <br/>
        <button class="btn btn-info" type="button" id="cancel_assignment" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t 'assignment.cancel' %>
        </button>
      <% else %>
        <span><%= t 'assignment.time_to_select' %><span id="countdownSelect"></span></span>
        <br/>
        <div class="dropdown">
          <button class="btn btn-info" type="button" id="create_assignment" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t 'assignment.accept' %>
          </button>
          <%#= submit_tag(t('assignment.accept'), :id => "btn_create", :class => "btn btn-info", :data => {:loading_text => t('assignment.accept_loading')}) %>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <span><%= t 'assignment.fixed_seat', {:seat => @seat.code} %></span>
  <% end %>

<% end %>

<div class="modal" tabindex="-1" role="dialog" id="confirm_select_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t 'assignment.confirm_modal' %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><%= t 'assignment.assignment_created' %><span id="selected_seat"></span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t 'assignment.continue' %></button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="confirm_cancel_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t 'assignment.confirm_modal' %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><%= t 'assignment.assignment_canceled' %><span id="canceled_seat"></span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t 'assignment.exit' %></button>
        <button type="button" class="btn btn-primary" id="continue_btn"><%= t 'assignment.continue' %></button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="map_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t 'assignment.map_modal' %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img id="office" src="/assets/plano-oficina.jpg" width="500px" class="rounded mx-auto d-block" alt="Map" data-zoom-image="/assets/large/plano-oficina.jpg">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t 'assignment.close' %></button>
      </div>
    </div>
  </div>
</div>
