<% content_for :title do %>
  <%= t 'title' %>
<% end %>
<% content_for :head do %>
  <%= stylesheet_link_tag "lib/jquery.seat-charts", "map" %>
  <%= stylesheet_link_tag "lib/bootstrap-tour-standalone.min" %>
  <%= stylesheet_link_tag "lib/assignments" %>
<% end %>
<h2 class="assignment_title"><%= t 'assignment.title' %></h2>
<br/>


<%= form_tag(assignments_path, :method => "post", :id => "assignment_form") do %>
  <%= hidden_field_tag 'seat_id'%>
  <% if !@map.nil? %>
    <% if current_user.tour? %>
      <div id="tour"></div>
    <% end %>
    <div id="map-container" class="container_assignment" >
      <p class="project_title">
        <b><%= t 'project' %>:</b>
        <%= current_user.employee.project.name %>
      </p>
      <div id="seat_map" class="maptable" data-map="<%= @map.to_json(:except => [:created_at, :updated_at]) %>"
            data-available_seats="<%= @available_seats.to_json(:except => [:created_at, :updated_at]) %>"
            data-unavailable_seats="<%= @unavailable_seats.to_json(:except => [:created_at, :updated_at]) %>"
            data-selected_seat="<%= @seat.to_json(:except => [:created_at, :updated_at]) %>">
      </div>
      <div id="project_plane" class="maptable">
        <img id="project_canvas" src="/assets/zones/<%= current_user.employee.project.tag %>.png" class="rounded mx-auto d-block">
      </div>
    </div>
    <% if @mobile %>
      <% if @assigned %>
        <%= hidden_field_tag 'assignment_id', @assignment.id %>
        <div class="text-center panel-group">
          <h3><%= t 'assignment.assigned_seat', {:seat => @assignment.seat.code} %></h3>
        </div>
        <div class="text-center panel-group">
          <button class="btn btn-sm tcsFontTitle btn-elegant" type="button" id="cancel_assignment">
            <%= t 'assignment.cancel' %>
          </button>
        </div>
      <% else %>
        <div class="text-center panel-group">
          <h3><%= t 'assignment.time_to_select' %><span id="countdownSelect"></span></h3>
        </div>
        <div class="text-center panel-group">
          <button class="btn btn-sm tcsFontTitle btn-elegant" type="button" id="create_assignment">
            <%= t 'assignment.accept' %>
          </button>
        </div>
      <% end %>
    <% else %>
      <div class="text-center panel-group">
        <h3 id="fixed"><%= t 'assignment.fixed_seat', {:seat => @seat.code} %></h3>
      </div>
    <% end %>
  <% end %>

<% end %>

<div class="modal" tabindex="-1" role="dialog" id="confirm_select_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"><%= t 'assignment.confirm_modal' %></h4>
      </div>
      <div class="modal-body">
        <p><%= t 'assignment.assignment_created' %><span id="selected_seat"></span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm tcsFontTitle btn-elegant" data-dismiss="modal"><%= t 'assignment.continue' %></button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="confirm_cancel_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"><%= t 'assignment.confirm_modal' %></h4>
      </div>
      <div class="modal-body">
        <p><%= t 'assignment.assignment_canceled' %><span id="canceled_seat"></span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm tcsFontTitle btn-elegant" data-dismiss="modal"><%= t 'assignment.exit' %></button>
        <button type="button" class="btn btn-sm tcsFontTitle btn-elegant" id="continue_btn"><%= t 'assignment.continue' %></button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="map_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"><%= t 'assignment.map_modal' %></h4>
      </div>
      <div class="modal-body">
        <img id="office" src="/assets/plano-oficina.jpg" width="500px" class="rounded mx-auto d-block" alt="Map" data-zoom-image="/assets/large/plano-oficina.jpg">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t 'assignment.close' %></button>
      </div>
    </div>
  </div>
</div>

