<h2><%= t('menu.admin') %></h2>

<section>
  <h3 style="font-weight: normal;"><%= t('menu.project.title') %></h3>
  <ul>
    <li><%= link_to t('menu.project.index'), showproject_path %></li>
    <li><%= link_to t('menu.project.new'), createproject_path %></li>
    <li><%= link_to "Editar Projectos", editproject_path %></li>
    <li><%= link_to "Asignar Zona", new_zone_path %></li>
  </ul>
</section>

<section>
  <h3 style="font-weight: normal;"><%= t('menu.map.title') %></h3>
  <ul>
    <li><%= link_to t('menu.map.show'), showmap_path %></li>
    <li><%= link_to t('menu.map.new'), createmap_path %></li>
    <li><%= link_to t('menu.map.edit'), editmap_path %></li>
  </ul>
</section>

<section>
  <h3 style="font-weight: normal;"><%= t('menu.seat.title') %></h3>
  <ul>
    <li><%= link_to t('menu.seat.check'), markseats_path %></li>
    <li><%= link_to t('menu.seat.assign'), assignseats_path %></li>
  </ul>
</section>
