<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div class="row">
      <div id="error_explanation">
        <h2><%= pluralize(project.errors.count, "error") %><%= form.label t('projects.error') %></h2>

        <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

<div class="row">
  <div class="form-group col-md-4">
    <%= form.label t('projects.name') %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
</div>
<div class="row">
  <div class="form-group col-md-4">
    <%= form.label t('projects.acronym') %>
    <%= form.text_field :tag, class: "form-control" %>
  </div>
</div>
<div class="row">
  <div class="form-group col-md-4">
    <%= form.label t('projects.color') %>
    <%= color_field("project", "colour", class: "form-control") %>
  </div>
</div>



  <%= form.hidden_field :status, :value=>"1"%>

  <div class="actions">
    <%= form.submit t('save'), class: "btn btn-lg btn-primary"  %>
  </div>
<% end %>
