<h2><%= t('menu.project.title') %></h2>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th class="col-md-2"><%= t('projects.name') %></th>
      <th class="col-md-2"><%= t('projects.acronym') %></th>
      <th class="col-md-2"><%= t('projects.status') %></th>
      <th class="col-md-4"><%= t('options') %></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td class="col-md-2"><%= project.name %></td>
        <td class="col-md-2"><%= project.tag %></td>
        <td class="col-md-2"><%= project.status == Project::ACTIVE ? t('active') : t('inactive') %></td>
        <td class="col-md-4">
          <%= link_to t('show'), project_path(project), class: "btn btn-info" %>
          <%= link_to t('edit'), edit_project_path(project), class: "btn  btn-warning" %>
          <%= link_to t('destroy'), project_path(project), method: :delete, data: { confirm: t('projects.sure') }, class: "btn btn-danger" %>
        </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('menu.project.new'), new_project_path %>
