  <?xml version="1.0"?>
  <Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
    xmlns:o="urn:schemas-microsoft-com:office:office"
    xmlns:x="urn:schemas-microsoft-com:office:excel"
    xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
    xmlns:html="http://www.w3.org/TR/REC-html40">
    <Worksheet ss:Name="Sheet1">
      <% if !@assignments.nil? %>
        <Table>
          <Row>
            <Cell><Data ss:Type="String"><%= t 'employee.name' %></Data></Cell>
            <Cell><Data ss:Type="String"><%= t 'employee.number' %></Data></Cell>
            <Cell><Data ss:Type="String"><%= t 'project'  %></Data></Cell>
            <Cell><Data ss:Type="String"><%= t 'assignment.date' %></Data></Cell>
            <Cell><Data ss:Type="String"><%= t 'seats.number' %></Data></Cell>
          </Row>
        <% @assignments.each do |assignment| %>
          <Row>
            <Cell><Data ss:Type="String"><%= assignment.employee.name %></Data></Cell>
            <Cell><Data ss:Type="String"><%= assignment.employee.number %></Data></Cell>
            <Cell><Data ss:Type="String"><%= assignment.project.name %></Data></Cell>
            <Cell><Data ss:Type="Date"><%= assignment.assignment_date.strftime("%Y-%m-%d") %></Data></Cell>
            <Cell><Data ss:Type="String"><%= assignment.seat.code %></Data></Cell>
          </Row>
        <% end %>
        </Table>
      <% end %>
    </Worksheet>
  </Workbook>