<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>


  <%= link_to image_tag("/assets/logo-eps.png", border: 0, width: "50px"), root_path, {class: 'navbar-brand'} %>
</div>

<div id="navbar" class="navbar-collapse collapse">
  <% if user_signed_in? %>
    <ul class="nav navbar-nav">
        <% if current_user.is_employee? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t('menu.assignments') %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to link_to t('menu.assignment'), new_assignment_path %></li>
            </ul>
          </li>
        <% end %>
        <% if current_user.is_admin? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t('menu.project.title') %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to link_to t('menu.project.index'), showprojects_path %></li>
              <li><%= link_to link_to t('menu.project.new'), createproject_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t('menu.map.title') %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to link_to t('menu.map.show'), showmap_path %></li>
              <li><%= link_to link_to t('menu.map.new'), createmap_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t('menu.seat.title') %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to link_to t('menu.seat.check'), markseats_path %></li>
              <li><%= link_to link_to t('menu.seat.assign'), assignseats_path %></li>
            </ul>
          </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t('menu.employee.title') %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to link_to t('menu.employee.index'), employees_path %></li>
                <li><%= link_to link_to t('menu.employee.new'), new_employee_path %></li>
                <li><%= link_to link_to t('menu.employee.load'), loademployees_path %></li>
              </ul>
            </li>
        <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= image_tag("/assets/user.png", border: 0, width: "25px", title: current_user.name) %> <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <% if current_user.is_admin? %>
            <li><%= link_to t("edit_profile"), edit_user_registration_path %></li>
          <% end %>
          <li role="separator" class="divider"></li>
          <li><%= link_to t('logout'), destroy_user_session_path, method: :get %></li>
        </ul>
      </li>
    </ul>
  <% end %>
</div>
